/.vscode/*
!/.vscode/launch.json
!/.vscode/tasks.json

.DS_Store
.tmp
tmp
node_modules
typings
coverage
**/*.tgz
npm-debug.log

/lib/*
!/lib/.npmignore

/authProviders/*

src/**/*.js
src/**/*.js.map
src/**/*.d.ts

samples/**/secrets.ts
samples/**/secrets.js
samples/node/secrets.json
samples/browser/src/secrets.js
samples/browser/src/graph-js-sdk.js
samples/browser/src/graph-es-sdk.js

test/development/secrets.ts

.nyc_output/*