/.vscode/*
!/.vscode/launch.json
.DS_Store
.tmp
tmp
node_modules
typings
coverage
**/*.tgz
npm-debug.log

src/**/*.js
src/**/*.js.map
src/**/*.d.ts

samples/node/secrets.json
samples/browser/secrets.js
samples/typescript/sample.js
samples/typescript/sample.d.ts
samples/typescript/graph-typings.d.ts
samples/typescript/sample.js.map

spec/**/*.js
spec/**/*.d.ts
spec/**/*.js.map
spec/**/secrets.ts
