/.vscode/*
!/.vscode/launch.json
.DS_Store
.tmp
tmp
node_modules
typings
src/**/*.js
coverage
**/*.tgz
samples/node/secrets.json
samples/browser/secrets.js
npm-debug.log
samples/typescript/sample.js
samples/typescript/sample.d.ts
samples/typescript/graph-typings.d.ts
samples/typescript/sample.js.map
src/index.d.ts

spec/types/secrets*
spec/types/*.js
spec/types/*.d.ts
spec/types/*.js.map